<% layout('/layouts/boilerplate') %>

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading display-4">
            <%= err.message %>
                <!-- err.stack -->
        </h4>

        <hr>




    </div>